<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GPSPOIpontok</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">View Maps</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Map" asp-action="Create">Create Map</a>
                </li>
            </ul>
        </nav>
    </header>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
